# BitGN Platform
BITGN_HOST=https://api.bitgn.com
BITGN_API_KEY=bgn-7gx2wComBoDUZmvxaakRGsz9BQ7gqN

# OpenAI / совместимый провайдер
OPENAI_API_KEY=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

OPENAI_BASE_URL=https://openrouter.ai/api/v1
# OPENAI_BASE_URL=http://localhost:11434/v1  # Ollama

# Настройки benchmark
BENCH_ID=bitgn/pac1-dev
MODEL_ID=nvidia/nemotron-3-nano-30b-a3b:free
PAC1_MAX_WORKERS=4

# Подсказка для агента (опционально)
# HINT=
